@import "../../common/color.scss";
.top-nav{
   ul{
    list-style: none;
    padding: 0 10px 0;
    font-size: 14px;
    
    li{
      margin: 0 -10px;
      padding: 10px 10px;
      color: $font-secondary;
      list-style: none;
      
      background: $primary-color;
      border-radius: 4px;
      box-shadow: 0px 0px 5px transparent;
      font-weight: bold;
      a{
        text-decoration: none;
        color:  $font-secondary;
      }
      &:hover{
        background: $secondary-color;
        box-shadow: 0px 0px 5px #fff;
    }
      
    }
   }
}