
@import "../../common/color.scss";
.card-item {
  background: $secondary-color;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px 20px;
  &:hover{
    background: $primary-color;
    transition: all 0.2s;
  }
  a{
    text-decoration: none;
  }
  
}

.card-info {
  color: $font-primary;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 400;
  strong{ text-transform: uppercase; font-weight: 400;}
  gap:25px;
  .item{
    width: 33%;
  }
  &:hover {
    transform: scale(1.02);
    transition: all 0.2s;
  }
  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  p{ text-transform: capitalize;    display: inline-flex;
    justify-content: flex-end;}
}
.card-detail {
  padding: 20px;
  background: $font-primary;
  border-radius: 10px;
}

@media screen and (max-width:767px) {
  .container {
    margin: 0 20px;
  .card-item {
    margin-bottom: 10px;
    .card-info{
      h4{
        margin-bottom: 0;
      }
      &.flex {
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
      }
    }
  .item {
    width: 100%;
    justify-content: initial;
  }
}
  
  }
}
